{% load static %}

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

<title>{{title}}</title>
{% block content %}

  <main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h3>Portfolio Details</h3>
          <ol>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li>Portfolio Details</li>
          </ol>
        </div>

      </div>
    </section><!-- Breadcrumbs Section -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>Project information</h3>
              <ul>
                <li><strong>Title</strong>: 120 Years of Olympics</li>
                <li><strong>Tools</strong>: SQL, Excel, Power BI</li>
                <li><strong>Project URL</strong>: <a href="">www.example.com</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="portfolio-description portfolio-info">
              <h3>Case Study</h3>
              <p>
                4 Images 1 Dashboard + 3 Reports and in Project URL power bi report url.
              </p>
              <p>
                Autem ipsum nam porro corporis rerum. Quis eos dolorem eos itaque inventore commodi labore quia quia. Exercitationem repudiandae officiis neque suscipit non officia eaque itaque enim. Voluptatem officia accusantium nesciunt est omnis tempora consectetur dignissimos. Sequi nulla at esse enim cum deserunt eius.
              </p>
              <p>
                Autem ipsum nam porro corporis rerum. Quis eos dolorem eos itaque inventore commodi labore quia quia. Exercitationem repudiandae officiis neque suscipit non officia eaque itaque enim. Voluptatem officia accusantium nesciunt est omnis tempora consectetur dignissimos. Sequi nulla at esse enim cum deserunt eius.
              </p>
              <p>
                Autem ipsum nam porro corporis rerum. Quis eos dolorem eos itaque inventore commodi labore quia quia. Exercitationem repudiandae officiis neque suscipit non officia eaque itaque enim. Voluptatem officia accusantium nesciunt est omnis tempora consectetur dignissimos. Sequi nulla at esse enim cum deserunt eius.
              </p>
            </div>
          </div>

        </div>

      </div>

      <div class="container mt-5">
        <div class="row gy-4">
          <!-- <div class="col-lg-4"></div> -->
          <div class="col-lg-12">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="{% static 'assets/img/portfolio/portfolio-details-1.jpg' %}" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="{% static 'assets/img/portfolio/portfolio-details-2.jpg' %}" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="{% static 'assets/img/portfolio/portfolio-details-3.jpg' %}" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="{% static 'assets/img/portfolio/portfolio-details-3.jpg' %}" alt="">
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>          
        </div>
      </div>

      <div class="container mt-5" style="margin-bottom: 150px;">
        <div class="row gy-4">
          <!-- <div class="col-lg-4"></div> -->
          <div class="col-lg-12">
            <div class="portfolio-description">
              <p>
                Autem ipsum nam porro corporis rerum. Quis eos dolorem eos itaque inventore commodi labore quia quia. Exercitationem repudiandae officiis neque suscipit non officia eaque itaque enim. Voluptatem officia accusantium nesciunt est omnis tempora consectetur dignissimos. Sequi nulla at esse enim cum deserunt eius.
              </p>
              <p>
                Autem ipsum nam porro corporis rerum. Quis eos dolorem eos itaque inventore commodi labore quia quia. Exercitationem repudiandae officiis neque suscipit non officia eaque itaque enim. Voluptatem officia accusantium nesciunt est omnis tempora consectetur dignissimos. Sequi nulla at esse enim cum deserunt eius.
              </p>
              <p>
                Autem ipsum nam porro corporis rerum. Quis eos dolorem eos itaque inventore commodi labore quia quia. Exercitationem repudiandae officiis neque suscipit non officia eaque itaque enim. Voluptatem officia accusantium nesciunt est omnis tempora consectetur dignissimos. Sequi nulla at esse enim cum deserunt eius.
              </p>
            </div>
          </div>          
        </div>
      </div>

      <div class="container mt-5" style="margin-bottom: 150px;">
        <div class="row gy-4">
          <!-- <div class="col-lg-4"></div> -->
          <div class="col-lg-12">
            <div class="portfolio-description">
              <p>
                Autem ipsum nam porro corporis rerum. Quis eos dolorem eos itaque inventore commodi labore quia quia. Exercitationem repudiandae officiis neque suscipit non officia eaque itaque enim. Voluptatem officia accusantium nesciunt est omnis tempora consectetur dignissimos. Sequi nulla at esse enim cum deserunt eius.
              </p>
              <p>
                Autem ipsum nam porro corporis rerum. Quis eos dolorem eos itaque inventore commodi labore quia quia. Exercitationem repudiandae officiis neque suscipit non officia eaque itaque enim. Voluptatem officia accusantium nesciunt est omnis tempora consectetur dignissimos. Sequi nulla at esse enim cum deserunt eius.
              </p>
              <p>
                Autem ipsum nam porro corporis rerum. Quis eos dolorem eos itaque inventore commodi labore quia quia. Exercitationem repudiandae officiis neque suscipit non officia eaque itaque enim. Voluptatem officia accusantium nesciunt est omnis tempora consectetur dignissimos. Sequi nulla at esse enim cum deserunt eius.
              </p>
            </div>
          </div>          
        </div>
      </div>

      <div class="container mt-5" style="margin-bottom: 150px;">
        <div class="row gy-4">
          <!-- <div class="col-lg-4"></div> -->
          <div class="col-lg-12">
            <div class="portfolio-description">
              <h2>Report</h2>
              <iframe title="NorthWind_Sales_Analysis" width="1024" height="804" src="https://app.powerbi.com/view?r=eyJrIjoiNjlhNWQwMzEtZTU5Mi00YWE2LTgwMTktMWEzNzk3OTFhMTRiIiwidCI6ImEzZGQxNmFlLTNlOGQtNDBhZS1iMmM3LWI0MDY1MjM3Yjg4MyIsImMiOjl9" frameborder="0" allowFullScreen="true"></iframe>
            </div>
          </div>          
        </div>
      </div>

      <div class="container mt-5" style="margin-bottom: 150px;">
        <div class="row gy-4">
          <!-- <div class="col-lg-4"></div> -->
          <div class="col-lg-12">
            <div class="portfolio-description">
              <h2>Dashboard</h2>
              <iframe title="NorthWind_Sales_Analysis" width="1024" height="804" src="https://app.powerbi.com/view?r=eyJrIjoiNjlhNWQwMzEtZTU5Mi00YWE2LTgwMTktMWEzNzk3OTFhMTRiIiwidCI6ImEzZGQxNmFlLTNlOGQtNDBhZS1iMmM3LWI0MDY1MjM3Yjg4MyIsImMiOjl9" frameborder="0" allowFullScreen="true"></iframe>
            </div>
          </div>          
        </div>
      </div>

      <div class="container mt-5" style="margin-bottom: 150px;">
        <div class="row gy-4">
          <!-- <div class="col-lg-4"></div> -->
          <div class="col-lg-12">
            <div class="portfolio-description">
              <p>
                Autem ipsum nam porro corporis rerum. Quis eos dolorem eos itaque inventore commodi labore quia quia. Exercitationem repudiandae officiis neque suscipit non officia eaque itaque enim. Voluptatem officia accusantium nesciunt est omnis tempora consectetur dignissimos. Sequi nulla at esse enim cum deserunt eius.
              </p>
              <p>
                Autem ipsum nam porro corporis rerum. Quis eos dolorem eos itaque inventore commodi labore quia quia. Exercitationem repudiandae officiis neque suscipit non officia eaque itaque enim. Voluptatem officia accusantium nesciunt est omnis tempora consectetur dignissimos. Sequi nulla at esse enim cum deserunt eius.
              </p>
              <p>
                Autem ipsum nam porro corporis rerum. Quis eos dolorem eos itaque inventore commodi labore quia quia. Exercitationem repudiandae officiis neque suscipit non officia eaque itaque enim. Voluptatem officia accusantium nesciunt est omnis tempora consectetur dignissimos. Sequi nulla at esse enim cum deserunt eius.
              </p>
            </div>
          </div>          
        </div>
      </div>

    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

{% endblock content %}

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/typed.js/typed.umd.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>